@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

@keyframes flipTitle {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

.container {
  font-family: Montserrat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#121212, #212b46);
}

.title {
  font-size: 5.3rem;
  background-image: linear-gradient(to bottom,  rebeccapurple, steelblue, turquoise);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ffffff;
  animation: flipTitle 2s;
}

.containerInput {
  padding: 0.9rem;
  margin: 2.1rem 0;
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.containerInput input {
  background-color: transparent;
  border: 0;
  outline: none;
  font-size: 1.25rem;
  color: #ffffff;
  margin-right: 0.5rem;
}

.containerInput input::placeholder {
  color: #f1f1f1;
}

.buttonSearch {
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.5s;
}

.buttonSearch:hover {
  transform: scale(1.2);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 31.25rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.main h2 {
  margin: 1rem 0;
  font-size: 2.4rem;
}

.main span {
  margin-bottom: 1rem;
  font-weight: 600;
}

@media (max-width: 620px) {
  .title {
    font-size: 3.75rem;
  }

  .main {
    width: 80%;
    min-height: 16rem;
  }

  .main h2 {
    font-size: 1.7rem;
  }
}